#navbar {
  display: block;
  height: 100px;
  flex-direction: column;
  align-items: center;
}

#navbar .logo {
  display: none;
}

#video .video {
  grid-template-columns: repeat(2, 1fr);
}

#gallery .gallery {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 800px) {
  #navbar {
    display: flex;
    height: 120px;
    flex-direction: row;
  }

  #navbar ul {
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
  }

  #navbar ul li a {
    font-size: 1rem;
  }

  #navbar .social {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  #navbar .social > *:last-child {
    padding: 0;
    padding-right: 2rem;
  }

  #navbar .social a {
    font-size: 0.75rem;
  }
  #showcase {
    text-align: center;
    font-size: 15px;
  }
  #video .video {
    display: grid;
    padding: 0 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }

  #gallery .gallery {
    display: grid;
    padding: 0 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

/* #navbar ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  padding-left: 50%;
} */

/* #showcase {
  display: none;
} */
